<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no"/>
  <meta name="author" content="Jonas Scharpf aka brainelectronics">
  <title>Setup</title>
  <link href="{{ url_for('static', filename='css/style.css') }}" rel="stylesheet">
  <link href="{{ url_for('static', filename='css/bootstrap.min.css') }}" rel="stylesheet">
  <link href="{{ url_for('static', filename='css/list-groups.css') }}" rel="stylesheet">
</head>
<body style="margin:0;" class="text-center">
  <div class="center" style="width:400px;">
    <div class="list-group">
      <a href="/" class="list-group-item list-group-item-action active">This page</a>
      <a href="/select" class="list-group-item list-group-item-action">Select WiFi network</a>
      <a href="/configure" class="list-group-item list-group-item-action">Manage WiFi networks</a>
      <a href="/scan_result" class="list-group-item list-group-item-action">Latest Scan result<a>
    </div>
  </div>
</body>
</html>
