<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no"/>
  <meta name="author" content="Jonas Scharpf aka brainelectronics">
  <title>Remove WiFi Network</title>
  <link href="{{ url_for('static', filename='css/style.css') }}" rel="stylesheet">
  <link href="{{ url_for('static', filename='css/bootstrap.min.css') }}" rel="stylesheet">
  <link href="{{ url_for('static', filename='css/list-groups.css') }}" rel="stylesheet">
</head>
<body style="margin:0;" class="text-center">
  <div id="overlay" class="overlay">
    <div id="loader" class="loader"></div>
  </div>

  <div style="display:none;" id="myDiv" class="animate-bottom">
    <h4>Remove a configured WiFi network</h4>
    <div class="list-group list-group-checkable">
      <form action="remove_wifi_config" method="post" id="remove_wifi_config_form">
        <div id="wifi_items">
          <table name="wifi_network" id="wifi_network">
            <tr>
              <th>Network</th>
            </tr>
            {% for ele in wifi_nets %}
              <tr>
                <td>
                  <input type="checkbox" class="form-check-input" name="{{ele}}" id="{{ele}}" value="{{ele}}">
                  <label class="form-check-label" for="{{ele}}">
                    {{ele}}
                  </label>
                </td>
              </tr>
            {% endfor %}
          </table>
        </div>
        <div class="list-group">
          <button type="submit" id="save" value="Save" class="btn btn-lg btn-primary list-group-item active" {{button_mode}}>Remove selected</button>
          <form>
            <input type="button" class="btn btn-lg btn-warning list-group-item" onclick="window.location.href = '/';" value="Go Back"/>
          </form>
        </div>
      </form>
    </div>
  </div>

  <script>
    window.onload = function(e) {
      setTimeout(showPage, 1000);
    };
    function showPage() {
      document.getElementById("loader").style.display = "none";
      document.getElementById("myDiv").style.display = "block";
      //document.getElementById("rcorners3").style.display = "block";
      document.getElementById("overlay").style.display = "none";
    };
    document.getElementById("remove_wifi_config_form").onsubmit = function(e) {
      window.onbeforeunload = null;
      return true;
    };
    const checkboxes = [...document.querySelectorAll('input[type=checkbox]')];
    function anyChecked() {
      return checkboxes.some(x=>x.checked);
    }
    checkboxes.forEach(checkbox => {
      checkbox.addEventListener("click", e => {
        // console.log('Checkbox ' + checkbox.id + ' clicked');
        is_any_checked = anyChecked();
        var button = document.getElementById("save");
        if(is_any_checked) {
          button.removeAttribute('disabled');
        }
        else {
          button.setAttribute('disabled','');
        }
      })
    })
  </script>
</body>
</html>
