<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no"/>
  <meta name="author" content="Jonas Scharpf aka brainelectronics">
  <title>Select WiFi</title>
  <link href="{{ url_for('static', filename='css/style.css') }}" rel="stylesheet">
  <link href="{{ url_for('static', filename='css/bootstrap.min.css') }}" rel="stylesheet">
  <link href="{{ url_for('static', filename='css/list-groups.css') }}" rel="stylesheet">
</head>
<body style="margin:0;" class="text-center">
  <div id="overlay" class="overlay">
    <div id="loader" class="loader"></div>
  </div>

  <div style="display:none;" id="myDiv" class="animate-bottom">
    <h4>Select a WiFi network</h4>
    <div class="list-group list-group-checkable">
      <form action="save_wifi_config" method="post" id="save_wifi_config_form">
        <div name="wifi_network" id="wifi_network">
          {{ content }}
        </div>
        <input type="text" class="w-100" name="ssid" id="ssid" placeholder="Custom Network Name">
        <br>
        <input type="password" class="w-100" name="password" id="password" placeholder="Passwort" onkeydown="if(event.keyCode==13)document.getElementById('save').click()"/>
        <div class="list-group">
          <button type="submit" id="save" value="Save" class="btn btn-lg btn-primary list-group-item active">Submit</button>
          <form>
            <input type="button" class="btn btn-lg btn-warning list-group-item" onclick="window.location.href = '/';" value="Go Back"/>
          </form>
        </div>
      </form>
    </div>
  </div>

  <script>
    var selected_bssid = 0;
    window.onload = function(e) {
      setTimeout(showPage, 1000);
      setTimeout(get_new_networks, 100);
      var myInterval = setInterval(get_new_networks, 10000);
    };
    function showPage() {
      document.getElementById("loader").style.display = "none";
      document.getElementById("myDiv").style.display = "block";
      //document.getElementById("rcorners3").style.display = "block";
      document.getElementById("overlay").style.display = "none";
    };
    document.getElementById("save_wifi_config_form").onsubmit = function(e) {
      window.onbeforeunload = null;
      return true;
    };
    function remember_selected_element(cb) {
      selected_bssid = cb.id;
    }
    function get_new_networks() {
      // console.log('Getting new networks');
      var xmlhttp = new XMLHttpRequest();
      var url = "render_network_inputs";
      xmlhttp.onreadystatechange = function() {
        if (this.readyState == 4 && this.status == 200) {
          var content = this.responseText;
          // console.log(content);
          document.getElementById("wifi_network").innerHTML = content;

          if (selected_bssid) {
            document.getElementById(selected_bssid).checked = true;
          }
        }
      };
      xmlhttp.open("GET", url);
      xmlhttp.send();
    }
  </script>
</body>
</html>